// _base.scss

// defaults
$default-font: 'Lato', serif;
$default-color: #333;
$default-size: 14px;
$default-padding: 0px 10px;

* {
  font-family: $default-font;
  font-size: $default-size;
  color: $default-color;
  text-align: left;
}

body {
  text-align: center;
}

.main-container {
  width: 100%;
  max-width: 1200px;
  margin: 0px auto;
}

.top-banner,
.top-menu,
.main-content {
  padding: $default-padding;
}
