<!-- main container -->
<div class="main-container">

  <!-- topbanner -->
  <div class="topbanner">

    What!?

  </div>
  <!-- topbanner end -->

  <!-- topmenu -->
  <div class="topMenu">

    <eSeller:Container ContainerName="topMenu" CssId=".topMenu" />

  </div>
  <!-- topmenu end -->

  <!-- main content -->
  <div class="main-content">
    
      <div class="content-pane">

          <eSeller:Content ContainerName="content" CssId=".content-pane" />

      </div>

  </div>
    <!-- main content end -->

</div>
<!-- main container end -->
